@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.flex {
  display: flex;
}
/*HEADER - NAV*/
header {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-family: "roboto";
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 30px;
}
.navbar {
  margin: 0 64px;
  width: 95%;
  box-sizing: border-box;
  justify-content: space-between;
}
.listNav {
  flex-direction: row;
  align-items: center;
}
.listNav li {
  list-style: none;
  margin-right: 25px;
}
/*BOTTONI NERI*/
.blackButton {
  background-color: #191919;
  color: white;
  border-radius: 99em;
  text-align: center;
  padding: 8px 16px;
}
.greenButton {
  background: rgb(26, 137, 23);
  border-color: rgb(26, 137, 23);
  transition: background-color 1000ms linear;
}

.revertGreenButton {
  background-color: #191919;
  transition: background-color 1000ms linear;
}

.whiteNav {
  background-color: white;
  transition: background-color 1000ms linear;
}

.revertWhiteNav {
  background-color: #ffc017;
  transition: background-color 1000ms linear;
}

/*MAIN*/
main {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-family: "spectral";
}
main h1 {
  margin-top: 200px;
  font-size: 7em;
  font-weight: 500;
  display: inline-block;
}
.contentMain {
  margin: 0 64px;
  width: 95%;
  padding-bottom: 135px;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
}
.contentMain h3 {
  font-size: 1.5em;
  font-family: "roboto";
  width: 80%;
  margin-bottom: 50px;
}
.start {
  font-size: 20px;
  font-family: "roboto";
  width: 213px;
  padding: 12px 34px;
}
.M {
  margin-top: 100px;
  left: 50%;
  width: 585px;
  position: absolute;
}
/*ARTICLE*/
article {
  flex-wrap: wrap;
  margin-left: 64px;
  margin-top: 2%;
  font-family: "spectral";
  font-family: "roboto";
}

.listaArt {
  flex-wrap: wrap;
  list-style: none;
}
.listaArt span {
  color: #e7e7e7;
  font-weight: 800;
  font-size: 2em;
  margin-right: 10px;
}
.listaArt li {
  width: 30%;
  margin-bottom: 50px;
}
.listaArt li img {
  border-radius: 50%;
}
.bold {
  font-weight: bold;
  font-size: 1.2em;
}
.center {
  align-items: center;
}
.center img {
  margin-right: 15px;
}
.center p {
  color: #747576;
}
.centerStar {
  color: #747576;
  display: flex;
  align-items: flex-end;
}
.bottonGrey {
  background-color: #e3e4e4;
  border-radius: 30%;
  padding: 6px;
}
.spaceText {
  display: flex;
  justify-content: space-between;
  color: #747576;
}
section {
  font-family: "roboto";
  margin-left: 64px;
  margin-top: 2%;
  flex-direction: column;
  width: 60%;
}
.articolo {
  width: 100%;
}
.articolo .p {
  display: inline-block;
}
.img {
  width: 200px;
  height: 134px;
}
.icon {
  border-radius: 50%;
}
.testi {
  flex-basis: 50%;
  margin-right: 10%;
  margin-bottom: 50px;
}
.testi h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.testi p {
  color: #747576;
}
.imgArt {
  justify-content: end;
}
/*ASIdE*/
.side {
  flex-direction: column;
  font-family: "roboto";
  width: 40%;
  position: sticky;
  z-index: 1;
  height: 400px;
  top: 100px;
}
.side h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8em;
  margin: 25px 0;
}
.side span {
  border: 1px solid #e3e4e4;
  width: 500px;
  margin: 30px 0;
}
aside {
  flex-wrap: wrap;
  width: 70%;
}
aside p {
  color: #747576;
  display: inline-block;
  border: 1px solid #e3e4e4;
  width: fit-content;
  margin: 5px;
  padding: 10px;
}
/*FOOTER*/
footer {
  color: #747576;
  flex-wrap: wrap;
  width: 80%;
}
footer p {
  padding: 10px;
}
